.header-functions {
  padding-left: 7px;
  width: 105px;
  color: #9d9d9d;
  font-family: 'PT Sans';
  font-size: 28px;
}

.method-link {
  flex-direction: row;
  color: #9d9d9d;
  line-height: 40px;
  text-decoration: none;
  font-size: 17pt;
  line-height: 45px;
  font-family: 'PT Sans';
}
.method-link:before {
  position: relative;
  left: -10px;
  top: 10px;
  display: inline-block;
  content: url('http://i.stack.imgur.com/Icd9n.png');
}
.active-method-link {
  color: #6d00ff;
}
.active-method-link:before {
  position: relative;
  left: -10px;
  top: 10px;
  display: inline-block;
  background: url(../../assets/link-selection.svg);
}
