.select-contract {
  height: 25px;
  color: #ffffff;
  font-family: 'PT Sans';
  font-size: 25px;
  padding-left: 56px;
}
.select-contract-layout {
  margin-top: 60px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 360px;
}
