.Dropdown-control {
  position: relative;
  overflow: hidden;
  color: #d8d8d8;
  border-radius: 16px;
  height: 60px;
  background-color: #3c3e51;
  cursor: default;
  outline: none;
  padding: 16px 52px 18px 40px;
  transition: all 200ms ease;
  font-size: 18pt;
  font-family: 'PT Sans';
  border-style: none;
}
.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: 12px;
  position: absolute;
  right: 14px;
  top: 14px;
  width: 0;
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}
