html,
body,
#root {
  height: 100%;
  width: auto;
  min-width: fit-content;
  margin: 0;
}

.image-header-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 62px;
  color: white;
  font-family: 'Prospectus Std';
  font-size: 50px;
  width: 260px;
  font-weight: bold;
}
.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}

.link-right {
  font-family: PTSans-Regular;
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 0;
}
.account-right {
  font-family: PTSans-Regular;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  padding-top: 10px;
}
.network-right {
  font-family: PTSans-Regular;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
}
