.App {
  text-align: left;
  height: 100%;
}

html,
body,
#root,
#app {
  height: 100%;
  margin: 0;
}

.image-header-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 62px;
  color: white;
  font-family: 'Prospectus Std';
  font-size: 50px;
  width: 260px;
  font-weight: bold;
}

.header-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 226px;
  color: #ffffff;
  font-family: 'PT Sans';
  font-size: 25px;
  line-height: 32px;
}
